[2021-02-21 10:29] zahhar commented on #96
Both approaches (duplicate method names or stick to single style) look wrong for me.

How about removing the root cause of a problem by sticking to single-word names for common methods, and leaving complete freedom for user-defined methods?

Here is what I mean: in both Rust, AS or what-so-ever-language-NEAR-is-gonna-support-in-the-future we can write all public methods required by standard this w

[2021-02-21 17:08] oysterpack commented on #96
That simply won't work because all contract functions are effectively scoped globally. NEAR standard API interfaces must be namespaced to avoid collisions.

The problem is that the NEAR library ecosystem is pretty much non-existent at this phase of the lifecycle. Think of defining the JSON RPC API just like defining any HTTP API. Regardless which route you go, i.e., REST, GraphQL, etc, the HTTP AP

[2021-02-22 01:53] evgenykuzyakov commented on #96
Let's just with snake_case since we're going for mostly Rust. `near-api-js` can expose methods in camelCase while calling contract in snake_case.

[2021-02-22 08:37] ilblackdragon commented on #137
@nearmax we don't have a storing to storage from register, don't we?

[2021-02-24 00:49] evgenykuzyakov commented on #137
We do have it.
Something like:
[code]

[2021-02-25 01:23] robert-zaremba commented on #96
Yes. Having a single style for standards has a benefit in readability. As @evgenykuzyakov  - for whatever reasons, libraries can do the translation if needed.

[2021-02-26 17:31] eriktrautman opened #163 "[Discussion] How to improve discoverability of standards and their progress?"
It is currently quite difficult to ask simple questions like "where is NEAR's NFT standard?" amidst the noise of everything going on in this repo (which I have tried to do as part of updating the [development dashboard apps catalog and grant ideas wiki](https://gov.near.org/t/development-dashboard-apps-catalogue-grant-ideas-wiki/690/2) on the forum).  No one seems to know readily what standards ar

[2021-03-01 13:58] ilblackdragon commented on #137
@evgenykuzyakov Please add this to the documentation.

Like looking at [current documentation](https://nomicon.io/RuntimeSpec/Components/BindingsSpec/TrieAPI.html?highlight=storage_write#trie-api), this is super invalid input. Also TrieAPI and logic.rs documentation should probably match (nomicon should generate from logic.rs).

[2021-03-01 22:33] bowenwang1996 commented on #163
@mikedotexe and I plan to revamp this repository and the process of making protocol changes or proposing new standards

[2021-03-03 08:49] ilblackdragon commented on #96
Let's publish this as part of meta-standard here in NEPs.
Also this should be followed up by work in near-sdk-as to export the snake case function names: https://github.com/near/near-sdk-as/issues/430

FYI @mikedotexe

I do want to mention that camelCase is actually more compact (less bytes on chain :D) and leave this topic silent forever.

[2021-03-08 02:52] ilblackdragon opened #170 "Document storage_write better"
Per https://github.com/near/NEPs/issues/137#issuecomment-784645813 there is a way to store data directly from registers which is not described in the documentation.

[2021-03-08 02:52] ilblackdragon commented on #137
Replacing with documentation requests and closing.

[2021-03-08 02:52] #137 closed

[2021-03-10 01:18] #66 closed

[2021-03-17 20:10] bowenwang1996 commented on #124
@evgenykuzyakov could you remind me what the abuse is here (assuming we only do this for contract storage)?

[2021-03-17 20:12] bowenwang1996 commented on #94
Already decreased by 10x in https://github.com/near/nearcore/pull/3881

[2021-03-17 20:12] #94 closed

[2021-03-17 20:13] #92 closed

[2021-03-31 18:54] TrevorJTClarke commented on #131
Any further progress on this? Would be amazing to have these features

[2021-04-01 22:50] bowenwang1996 commented on #131
It is not possible in the short term because in the current state implementation anything that requires iteration is vulnerable to attacks

[2021-04-05 15:52] bowenwang1996 opened #191 "Document order of triggers when a block is applied"
We should document events that lead to account state change when a block is applied and the order of those events. https://github.com/near/near-indexer-for-explorer/issues/77#issuecomment-812575249

[2021-04-08 10:14] mfornet commented on #141
Let's add a link in the top of this issue description linking to the NEP-141 discussion. cc @evgenykuzyakov

[2021-04-11 21:44] luciotato opened #194 "Bug: Error in the actual NEP-141 Standard"
NEP-141 difference:
In several places, documentation and tutorials, this is the signature of ft_transfer_call:
[code]
Note that `memo:Option<String>` is last

while in latest near-sdk-rs , the FungibleTokenCore trait signature has `memo:Option` before last
[code]
Just noting a discrepancy to be corrected

This is what happens in ts and other language with optional arguments when the optional argum

[2021-04-13 01:17] bowenwang1996 opened #195 "Document how fees are charged"
https://github.com/near/NEPs/blob/master/specs/RuntimeSpec/Fees/Fees.md does not have detailed information about where the fees are charged, especially around receipt creation costs. It would be ideal to document what exactly is charged at each step of the execution. The difference between burnt gas and used gas should also be documented.

[2021-04-20 01:45] nearmax commented on #93
* @bowenwang1996 @Longarithm what is the decision that we are currently implementing?
* @mikedotexe reported that there we noticeable feedback from community on storage complexity. I suggest we collect the feedback from the dev community and attach it somewhere as an evidence that this change is needed. Currently, there appears to be only singular anecdotal testimonies that this is needed, mostly

[2021-04-20 03:18] bowenwang1996 commented on #93
We have not decided on this yet. @abacabadabacaba correctly pointed out that my proposal does not work well if we decide to implement dynamic resharding one day (contract deployment would be underpaid because it now replicates to another shard). Currently @Longarithm is discussing with @abacabadabacaba on possible solutions.

[2021-04-29 13:59] bowenwang1996 opened #198 "Document contract reward"
Whenever a contract method is called, the contract itself gets 30% of the gas burnt as a reward. This should be documented in the protocol spec.

[2021-05-04 16:31] bowenwang1996 commented on #93
@abacabadabacaba actually we should not consider the storage cost to be constant. If we increase the number of shards, theoretically the amount of storage also increases and therefore the storage price should go down proportionally. Let's say we have dynamic resharding and there is some contract deployed in one out of `n` shards. If, after some time, the contract is replicated to `m` shards, the t

[2021-05-07 22:45] maxzaver opened #201 "Create a place to see all accepted and rejected NEPs"
AFAIU currently there is no single place to see all accepted and rejected NEPs. There used to be a folder in the root of this repo with all accepted NEPs in the past.

[2021-05-19 15:30] EgorKulikov opened #204 "Receipt processing order depends on capacity of the block"
Currently receipts are processed in the following order:

1. Local receipts generated by transaction of the current block
2. Delayed receipts (ordered by block they were generated in, then first local, then incoming)
3. Receipts incoming in the current block

This generally provide consistent order of processing for receipts (same as in point 2), but for local receipts generated in the current blo

[2021-05-19 17:18] bowenwang1996 commented on #204
Moved to this repo since it is about the protocol.

[2021-05-20 14:55] bowenwang1996 opened #205 "Have configurable number of epochs for protocol upgrades"
Currently once 80% of the validators switch to a new protocol version, the upgrade happens in 2 epochs, which may not be sufficient for some validators to upgrade their nodes. At the same time, if there is an emergency upgrade to fix some critical vulnerability, we would like to upgrade to finish as fast as possible. Therefore, it may make sense to distinguish, for every protocol upgrade, whether

[2021-05-23 11:59] DenysOf commented on #205
I would be happy to see 72/96-hours grace period, but reduce 80% figure to 51% to encourage more validators to upgrade in the given timeframe.

Also can you clarify is it 80% of a total stake or number of validators, please.

[2021-05-24 18:44] bowenwang1996 commented on #205
Yes. Please refer to https://nomicon.io/ChainSpec/Upgradability.html

[2021-05-26 11:03] #195 closed

[2021-05-26 15:06] frol commented on #198
Sorry, I don't believe this is resolved.

* [ ] I believe the explanation of 30% of `gas_burnt_for_function_call` is relevant in that context, but it does not really cover this request as I cannot really point anybody to it and expect them to understand how exactly the concept of function call royalties work. I find this situation amusing since we implemented this feature to attract developers, bu

[2021-05-27 01:06] bowenwang1996 commented on #198
@frol your request seems to be about some higher level documentation. It is not the responsibility of reference-level documentation to advertise some feature and give a comprehensive overview of how it works. I believe your request is better suited for https://github.com/near/docs

[2021-05-28 15:28] frol commented on #198
@bowenwang1996 I would expect to see this concept having its own section as it seems to be quite an independent concept of the NEAR Protocol. https://nomicon.io/Economics/README.html page looks the right place to mention it. Docs will come next, and indeed it will focus on teaching the concept and talking about how it can be used.

[2021-05-30 17:44] ilblackdragon commented on #201
While we here, also update README.md with the current NEP process. And when should issue, PR or discussion be used.

[2021-05-30 17:55] ilblackdragon opened #208 "Implement a retrieval of block info host function"
There are at least a few use cases to use information about blockchain itself inside a smart contract.

The simplest example is to verify that some information was included in the blockchain some time ago via a merkle proof.
To do this verification, a look back for a block's info is required. Example [voting with staked NEAR](https://gov.near.org/t/use-staked-near-in-sputnik-v2/2354).

A simple `b

[2021-06-01 13:58] bowenwang1996 commented on #198
That is fair. @Longarithm could you add this to the Economics section as well?

[2021-06-01 15:19] telezhnaya commented on #191
I need this in my work. While reading the code, I got this order:
1. ValidatorAccountsUpdate
2. Migration
3. TransactionProcessing
4. ActionReceiptProcessingStarted
5. ReceiptProcessing
6. ActionReceiptGasReward
7. PostponedReceipt
8. UpdatedDelayedReceipts

Could you please approve/correct that?

[2021-06-01 16:19] EgorKulikov commented on #191
I will add this documentation shortly, for the time being you can refer to [this](https://docs.google.com/spreadsheets/d/1rDLvIp4tot3tjtSXoBNvi5_7N4SSyCAihF2-GwHJKKU/edit?usp=sharing)

Note that in your list stages of applying chunk are mixed with stages of processing of single receipt

[2021-06-01 22:05] Longarithm commented on #198
Done, could you take a look?

[2021-06-03 18:15] bowenwang1996 opened #210 "Document system account"
`system` is a special thing in the protocol. It is not a real account but we set it to be the predecessor id of refund receipts. We should add a section of this special case to https://github.com/near/NEPs/blob/master/specs/DataStructures/Account.md and in https://github.com/near/NEPs/blob/master/specs/RuntimeSpec/Refunds.md link this section.

[2021-06-03 19:15] bowenwang1996 opened #211 "Document that refunds are free"
https://github.com/near/NEPs/blob/master/specs/RuntimeSpec/Refunds.md does not mention the cost of refund at all, which could be confusing. Refunds are special in that they have a gas price of 0 and they don't contribute to burnt gas (gas free). This should be documented.

[2021-06-03 22:57] #198 closed

[2021-06-03 23:00] bowenwang1996 opened #212 "Document pessimistic gas pricing"
We implemented pessimistic gas pricing a while ago but never put it into the spec. References:
* https://github.com/near/NEPs/issues/67#issuecomment-634853177
* https://github.com/near/nearcore/pull/2813#issue-431447684

[2021-06-10 23:59] bowenwang1996 commented on #120
To make sure we don't lose track of things, this is where the new costs are computed https://github.com/near/nearcore/pull/3279. Data receipt creation cost is reduced from 4.7Tgas to 0.03Tgas.

[2021-06-11 11:56] telezhnaya opened #214 "Nomicon shuffles contents"
Not sure if it's the right place to report.

https://nomicon.io/Standards/README.html
<img width="1351" alt="Screenshot 2021-06-11 at 14 48 11" src="https://user-images.githubusercontent.com/11246099/121682255-8644f900-cac4-11eb-8b5d-26d39794dfc6.png">

By the way, it's good to add the possibility to contribute to Nomicon somehow. Now it's unclear how to do that.
https://docs.near.org looks awesom

[2021-06-11 12:21] bowenwang1996 commented on #214
Transferred the issue to this repo

[2021-06-11 18:45] mzhangmzz commented on #211
I think it is already mentioned in the page, but maybe it is not obvious. I made some changes to the current description.

[2021-06-11 22:35] Longarithm opened #217 "Document Trie entities closely related to Runtime"
We currently have structures related to `Trie` but used in `Runtime`, for example: `TrieIterator`, `IterStep`, `TrieChanges`, `ShardTries`. It's currently hard to understand how do they work, so we can cover them in documentation to simplify their usage and modification.

[2021-06-14 15:12] #211 closed

[2021-06-14 15:13] #210 closed

[2021-06-16 22:10] bowenwang1996 opened #222 "Document randomness beacon"
Document how the existing randomness beacon works.

[2021-06-27 20:58] bowenwang1996 commented on #191
Addressed in #223

[2021-06-27 20:58] #191 closed

[2021-06-27 23:50] bowenwang1996 opened #225 "NEP for splitting the current shard into eight"
We need a detailed spec on how exactly we want to split the state when transitioning to multiple shards. Some previous discussions/ideas:
* https://gov.near.org/t/road-to-simple-nightshade/1790
* https://github.com/near/NEPs/discussions/190#discussioncomment-740722

[2021-06-30 09:58] marco-sundsk opened #227 "Multi-Fungible-Token"
# Proposal for multi-fungible-token
In Ref Finance, we handle all swap pools in one contract, which means, when we release LP token for each pool, those tokens are exist in single contract, which can NOT be supported by current NEP-141 standard.

Now, based on NEP-141, actually we extended it to support multi-token in one contract, change some interfaces and leave the whole working process untouch

[2021-07-01 23:15] ilblackdragon opened #230 "Updatable epoch length / seat parameters"
Currently epoch length and seat parameters (number of block validators, fisheman in shards) are constants in genesis.
Generally `validator_manager` supports their change, but it must be recorded somewhere in the headers and updated as we catching up with the network.

[2021-07-02 14:39] nearmax opened #231 "[Docs] Blog/write-up on how our gas works"
We need to have a public blog post that describes for our users and partners all nuances of the gas:
* Gas cost inflation;
* Gas limits;
* Pessimistic gas pricing;

Relation to tokens:
* Refunds;
* Allowance.

I suggest the blog post to have a strong focus on motivation behind the engineering decisions, so that it is very clear for the readers that our design is the minimal design that satisfies t

[2021-07-02 17:00] nearmax opened #232 "Add deployment id"
As suggested by @k06a it would be convenient to have deployment id stored with each account. Specifically, every time we deploy a new contract we should update `deployment_id` stored in the contract.

Implementations to consider:
* Storing deployment id as a nonce that increases every time the contract is deployed.
  * Pros: Easy versioning -- it is easy to have code that only works with the contr

[2021-07-02 22:13] bowenwang1996 commented on #233
@mikedotexe I believe this is something that your team plans to work on

[2021-07-15 06:40] #214 closed

[2021-07-22 10:35] Longarithm commented on #217
TODO:
- remember and write why both contract codes and RawTrieNodes are valid values
- add info about TrieIterators and applying state parts

[2021-07-27 06:59] ilyar commented on #227
I use current standart for impliment it

mint supply_max/amount 10000
https://explorer.testnet.near.org/transactions/3JyXzQD4o2QLVnu7YAur1gjwfVBjFGmjVLw8MtHZXZ33
nft_transfer for 1 amount
https://explorer.testnet.near.org/transactions/AizxpxJC7cSeAv9RKB3rB4ZuHn8Yxezs2GFYwkJxBgGE

[code]

[code]

[code]

[code]

[2021-07-27 07:05] ilyar opened #244 "Improve AddKey"
I think the page with the list of access keys (https://wallet.near.org/full-access-keys) is not informative enough.  This may lead to additional questions or erroneous user actions.

![image](https://user-images.githubusercontent.com/761285/127110544-667f07e0-f398-45bf-b273-87cac3ad8a96.png)

If we add additional information when adding a key, this will make the user's experience more intuitive.

[2021-07-28 16:08] zcstarr opened #246 "Multi Token Contract Standard"
### Summary
A standard interface for  a multi token standard that supports fungible, semi-fungible, and tokens of any type, allowing for ownership, transfer, and batch transfer of tokens generally regardless of specific type. This standard aims to make it possible to represent these multi tokens in a way that allows these tokens to be represented across chains.

### Motivation
Having a single cont

[2021-08-03 19:32] mzhangmzz opened #248 "Add spec for epoch transition"
How genesis block, epoch are generated,
how information on new epoch is determined,
etc.

[2021-08-04 18:11] bowenwang1996 commented on #248
@mzhangmzz could you point out what is missing in https://github.com/near/NEPs/tree/master/specs/BlockchainLayer/EpochManager ?

[2021-08-05 01:47] mzhangmzz commented on #248
Ah yeah, that's what I wanted. I just didn't see it in nomicon.io.

[2021-08-05 18:00] bowenwang1996 commented on #248
I see. Looks like we can close this issue then

[2021-08-05 18:00] #248 closed

[2021-08-07 01:07] nearmax commented on #208
It is sufficient for the contract to have access to the current block hash to verify anything in the past.

State verification, transaction inclusion verification, and outcome/logs verification like that in Rainbow bridge require the contract to be a given a merkle path to state node/transaction/outcome/logs anyway (which includes merkle paths inside chunks, and to the chunks). So by providing acc

[2021-08-07 01:34] nearmax commented on #208
Continuing the conversation here https://near.zulipchat.com/#narrow/stream/295558-dev-protocol-core/topic/block.20hashes.20host.20func/near/248687577

[2021-08-09 22:05] bowenwang1996 commented on #208
Looks like Aurora does not really need this functionality at the moment. I think we should close this issue for now and reopen if there is some strong reason to do so

[2021-08-09 22:05] #208 closed

[2021-08-27 15:31] telezhnaya opened #250 "NEP 171 (NFT) links to ft_* methods, has no minting/burning info"
Try to `ctrl + F` `ft_` in NFT interface section
https://github.com/near/NEPs/blob/master/specs/Standards/NonFungibleToken/Core.md#nft-interface
You could see 6 places where we require `ft_*` methods inside NFT implementation. That sounds weird. I thought FT and NFT are separate standards.

@mikedotexe @chadoh @evgenykuzyakov is it a typo?

Another question: I didn't find a place where we document

[2021-08-27 17:10] emarai opened #251 "NEP-177 (NFT Metadata) issued_at, expires_at, starts_at, updated_at confusing explanation"
I was writing a code on minting new NFT and wanted to include the issued_at metadata on-chain. The problem was it is not clear is it unix epoch or datetime.

https://github.com/near/NEPs/blob/master/specs/Standards/NonFungibleToken/Metadata.md#interface

In the interface, it is unix epoch in millisecond
[code]

But if you scroll down below, there's another explanation showing that for every *_at m

[2021-08-30 14:59] chadoh commented on #250
@mattlockyer @willemneal I know you've both been working with NFT projects lately. Do either of you have a sense of a de facto approach for minting/burning NFTs? Or a suggestion for @telezhnaya about how you think it should be done?

[2021-08-30 21:28] willemneal commented on #250
Minting should documented.  I discovered through trial and error that the current `nft_mint` provided by the standard only allows the owner of the NFT contract to mint, however, I'm my application and others this won't be the case. So we should at least have different options about what to expect with a `nft_*mint*`.

[2021-08-31 21:54] zcstarr commented on #250
@chadoh yep we discussed events as well, we think events would be the right way to handle this, but the timeline for events seemed perhaps a ways off.  The stop gap for the multi token standard is to do things like have methods for determining supply in the standard and follow the function naming convention.

Binary events I think really is the long term solution to tracking things like minting an

[2021-09-01 16:00] telezhnaya commented on #250
I don't have a solid opinion on how it should be implemented.
But, I want to have a clear understanding, who owns the tokens, how much, when, why.
With our NEPs, I can track all transfers, but I can't track minting/burning in any way.
So it's impossible to make any assumptions about FT/NFT.

It means that we can't fully support FT/NFT in [Explorer](https://explorer.near.org), [Wallet](https://wall

[2021-09-06 16:34] telezhnaya commented on #250
Close this issue since docs are fixed, will reopen separate issue about minting/burning

[2021-09-06 16:34] #250 closed

[2021-09-06 17:06] telezhnaya opened #254 "FT NEP-141, NFT NEP-171 require having minting/burning interface"
Our users ask for supporting FT/NFT in the tools such as Explorer and Wallet. We want to show FT/NFT balance and the history of all FT/NFT movements.

To achieve that, we need to track all the FT/NFT balance-changing events. They include minting, transferring, and burning of the tokens.
For now, it's only possible to track transfers.

While digging into FT implementation, we've found [`internal_tr

[2021-09-06 17:08] telezhnaya commented on #254
FT NEP-141 https://nomicon.io/Standards/FungibleToken/Core.html
NFT NEP-171 https://nomicon.io/Standards/NonFungibleToken/Core.html

[2021-09-06 17:23] frol commented on #254
I want to highlight that currently Wallet uses some hacks that only allows it to find potential FT / NFT contracts that the account might be involved with and then tries to fetch the balance from there. There are several problems with that:

1. It is not reliable - if the person only mints the tokens, that asset won't be detected (e.g. wNEAR uses a method called `near_deposit` to mint tokens)
2. I

[2021-09-06 17:28] frol commented on #254
@jberrytech Hey, Jim, Node Interfaces team has not been part of FT and NFT standards, but to support our end-user needs we dived into the current status of the things and found that the things are quite in flux and we need to have some decision made here. At the current stage, Wallet and Explorer are blocked on Indexer for Explorer, and Indexer for Explorer is blocked on the standards being comple

[2021-09-07 15:29] frol commented on #254
I had a discussion today with @ilblackdragon and it seems that there is a set of minimum requirements for FT and NFT tokens to make them useful across the ecosystem (I will use FT as a simpler example):

1. Wallet-like applications should be able to list all the assets (missing spec for minting)
2. Wallet-like applications should be able to inform users about the trace of the assets (missing spec

[2021-09-07 15:57] telezhnaya commented on #254
For NFT, spec is also missing here.
We only have the mapping token -> user (`nft_token` function).
We should also have mapping user -> all their NFTs.

[2021-09-07 18:43] nearmax commented on #254
Are you saying that minting and burning of the tokens do not emit the corresponding logs according to the standard?

[2021-09-07 19:03] frol commented on #254
@nearmax I am saying that the standards ([FT](https://nomicon.io/Standards/FungibleToken/Core.html) and [NFT](https://nomicon.io/Standards/NonFungibleToken/Core.html)) do not define logs, and our (Node Interfaces team) ask is to have those logs defined as a standard, so at least future contract implementations can adopt it.

[2021-09-07 19:23] nearmax commented on #254
I agree, it is critical that FT and NFT standards define logs, given that we currently do not have [proper Ethereum-like events](https://gov.near.org/t/ethereum-like-logs-on-near/3509). Ethereum events are part of the contract ABI, along side method signatures, and various integration tools heavily rely on their standardization to work with the contracts. E.g. see minting event https://github.com/

[2021-09-08 16:38] mikedotexe commented on #254
Just got off a call this morning with Mintbase, Paras, Matt Lockyer, and Austin. Agree we need logs as events. The time has come. I believe standards will likely need far more attention and prioritized org-wide.

[2021-09-10 20:17] frol commented on #254
I want to cross-post by comment here: https://github.com/near/NEPs/pull/256#issuecomment-917183873

[2021-09-13 22:43] mikedotexe commented on #251
Thank you and yes, this is an oversight and sorry for the confusion. I think I will open this up to others as well. My thinking it is should be milliseconds, as this is easily obtainable using the block timestamp and dividing it. (Since the block timestamp is in nanoseconds) If we want it to be ISO 8601 it seems like all NFTs will need to have additional logic which would bloat storage of the smar

[2021-09-14 13:26] evergreen-trading-systems commented on #254
Thanks @frol for elaborating previously.

If we talk about `minting` many NFT marketplaces have this concept of `royalty`. Only the specification to payout royalties is standardised, not the `royalty`. So you can have standard logs but a fragmented NFT ecosystem. Why every NFT-marketplace has different capabilities.

I propose a royalty standard which will help minting spec. This is not standardis

[2021-09-14 14:49] zcstarr commented on #254
@frol for events perhaps we could be more terse with just 2 events approvals and transfers. Where transferring from a null address is minting, and transferring to a null address is burning.  Then indexers and consumers can just watch those events to  understand what's happening with the contract.  Across the pond in eth land this is what happens for 721/1155. Curious what people thing about this.

[2021-09-15 21:50] zcstarr commented on #254
Curious here just watched the recap of the meeting. I have questions with regards to #245. I think @telezhnaya you mentioned that events being emitted from unknown methods is problematic? Is it that events can only be emitted from known methods ?

Is that what's driving extending the standards to include mint and burn, despite the addition of events? With erc-1155 many methods and even I think acr

[2021-09-15 23:31] mattlockyer opened #259 "NEP 171 inconsitency between type, description and reference implementation"
Nomicon:

![image](https://user-images.githubusercontent.com/321340/133525570-9f68f655-6688-4d06-b0f8-1d7c2829353d.png)

**Only memo is (optional) in the description**

But the type for approval_id is number|null...???

FYI this is the same for `nft_transfer_call` and `nft_resolve_transfer`.

Implementation in the near-contract-standards crate:

![image](https://user-images.githubusercontent.com/3

[2021-09-16 02:50] mikedotexe commented on #254
Thanks for this. I'm having a hard time understanding what specifically is needed on the royalty standard.
If a person wants to see the royalties of a token, this method is available:
`fn nft_payout(&self, token_id: String, balance: U128, max_len_payout: u32) -> Payout;`

Maybe I need a bit of a user story or a practical example for me to understand. Forgive me, as I'm not working with NFTs every

[2021-09-16 03:51] mikedotexe commented on #254
Catching up on all of this and it's a heavy amount to context-switch to. I think as we iterate on the NEP process, it's going to be most helpful for folks who have firsthand experience of NFT and indexing issues to really drive the suggestions. I _think_ I'm almost caught up but will have to learn more. I might be most helpful reviewing other peoples' ideas, but will be the author and open a pull

[2021-09-16 07:17] telezhnaya commented on #254
@zcstarr
Thank you for the examples!

@mikedotexe provided the answer much better than I can give. 😄 But I want to add few words from Indexer's perspective.
Choosing exact method names for minting/burning will simplify and speed up the work of Indexer a lot.

Indexer still doesn't have any solution for FT/NFT, but I've made a draft for FT. We go through all function calls, filter from them `ft_*`

[2021-09-16 14:18] robert-zaremba commented on #254
I've created a PR for the [minting standard](https://github.com/near/NEPs/pull/249). We implemented it in Cheddar.

I think burning should be a separate trait. Not every coin will support burning.

[2021-09-16 16:33] robert-zaremba commented on #254
and

We made a PR for wallet which was merged and the following (mentioned above) https://github.com/near/NEPs/pull/249 for the mint spec.

[2021-09-17 06:43] zcstarr commented on #254
@mikedotexe great write up! I think you mentioned a very good point about account storage management burning tokens, additionally within the ecosystem I think there are a lot of new use cases and usage patterns, where a contract's burn and mint might happen in the same method. One emerging pattern is combining NFTs as well as burning NFTs to mint NFTs, so it's worth considering context.

Do we thi

[2021-09-19 18:46] evergreen-trading-systems commented on #254
Whenever you mint an NFT, on a store, it is **store's responsibility** to implement payout - value is tied to store not NFT. How will store A know to pay me when store B keeps this information. Marketplace interoperability not going to happen like this.

[2021-09-21 00:10] #251 closed

[2021-09-27 03:36] danielwpz commented on #259
hey I think the description is wrong, it should be optional.

[2021-09-27 03:41] danielwpz commented on #259
fix in https://github.com/near/NEPs/pull/263

[2021-09-27 10:19] evergreen-trading-systems commented on #254
@frol I am proposing this as event logs for `nft_batch_mint`, `nft_batch_burn` and `nft_batch_transfer`

[code]

Due to the 16k string limitation, different stores will have different output. As long as this is documented, it is acceptable.

[2021-09-27 11:56] telezhnaya commented on #254
@evergreen-trading-systems thank you for the proposal! I have few comments:
- I suggest `nft_mint`, `nft_burn`, and `nft_transfer` instead of `nft_batch_mint`, `nft_batch_burn`, and `nft_batch_transfer`. We can pass the data as a list anyway, just pass one value in the list if you don't need the batch mode
- Not sure about `nft_burn` interface. Now we have to search for the owner to show that the

[2021-09-27 12:45] evergreen-trading-systems commented on #254
@telezhnaya thanks for your comment.

- I have removed `batch` from the event names.
- I have added `owner_id` to `nft_burn`
- I have replaced `to` with `receiver_id` in `nft_transfer`

These changes can be seen https://github.com/evergreen-trading-systems/NEPs/blob/feature/batch/specs/Standards/NonFungibleToken/Batch.md. Updated pr too.

I don't know if `receiver_id` makes sense for `nft_mint`.

[2021-09-27 16:54] frol commented on #254
@evergreen-trading-systems Thanks for championing the work on writing the proposal! Here are few items I heard people had concerns:

1. How many logs can we emit in a single contract execution?
  1.1. Given the length limit of the logs, what happens if the length is exceeded? (Would it help if we use shorter names of the JSON fields?)
  1.2. Given the gas limit, how much gas do event logs contribu

[2021-09-27 20:16] evergreen-trading-systems commented on #254
Thanks for looking at this @frol

1. This will vary for everyone. Everyone has a different `token_id` format for example and we do not enforce length size. I believe everyone should test their implementation and adjust accordingly. We are working towards interoperability, not serving specific app protocol. We could define a base number of max transactions to happen in these events and review over

[2021-09-27 20:22] mikedotexe commented on #254
Thanks everyone for the recent work here. Returning to this question from Olga, I want to check with @MaximusHaximus (Wallet team) as I seem to recall concerns about folks using these someone "special" prefixes (`ft_`, `nft_`, `storage_`, etc.) for methods that are not part of any standard.

Seeing that bloom filters are not anticipated to happen anytime soon, and Olga's concern about needing some

[2021-09-27 20:30] mikedotexe commented on #254
I'm going to agree with Frol on this, and perhaps I didn't explain my initial reasoning in an earlier comment. At some point, NEAR will have binary logs like Ethereum but we're not quite there yet. Until then, we can use a prefix like `EVENT_JSON:` in order to indicate to indexers that are parsing transaction logs that this is an event and it'll be utf8.

I can imagine other prefixes like `EVENT_B

[2021-09-28 07:14] ilblackdragon commented on #254
@telezhnaya What exactly is the problem for analyzing all the logs on the Indexer side? As far as I understand all the transaction and their results are getting processed and put into the database.

Given we define proper format of the logs, this processor should parse them out and put them into respective places. This is how all the indexers work right now, hence I'm not fully understanding why w

[2021-09-28 07:40] frol commented on #254
@ilblackdragon Olga assumed that at maxed out tps and maxed out logs we may hit the performance issue unable to process a block. I believe that is not the case, so we will proceed and parse all the logs.

[2021-09-29 18:29] evergreen-trading-systems commented on #254
I am dedicated to seeing NFT core events - `burn`, `mint` and `transfer`. There's some crypto events happening in October where number of transactions are going to spike.  This is pressing need for NFT marketplaces so users see those actions on the wallet. This is already happening now for example `nft_transfer` but this works for singles and not bulk. This is already makes users ask why they can

[2021-10-01 15:52] BenKurrek opened #265 "Attached 1 Yocto"
Currently in the readme files, whenever the user needs to attach one yocto, it uses the old 'vernacular' of `--amount 0.00...001`. To increase UX, this should be changed to `--depositYocto 1`

[2021-10-05 13:45] #265 closed

[2021-10-05 14:57] telezhnaya commented on #254
Please have a look at the PR that I just created.
Forwarding the most important piece:

@evergreen-trading-systems @zcstarr @robert-zaremba

[2021-10-09 14:04] posvyatokum opened #267 "Spec for the new staking action"
All dev tools are updated to support the new staking action (Shared with Developer Platform)

Part of https://airtable.com/apprrAlfLE1QI6gao/tbl9h3jXf56F4lAql/viw1VzQz6DtES5vbR/rec7i5zgeHPtd6lv7?blocks=hide

[2021-10-10 10:12] evergreen-trading-systems commented on #254
Based on https://github.com/near/NEPs/pull/256#issuecomment-935191107 its obvious event format vs specific event data format e.g. `nft_mint` are 2 different things.

We're already clear on what an event should look like in maybe formats potentially e.g. Binary, RLP, Borsh, etc. This pr addresses that https://github.com/near/NEPs/pull/268/files

Specific events needs their own pr.

[2021-10-27 17:08] telezhnaya opened #271 "FT NEP-141 require having minting/burning interface"
We finished the work on support of NFT https://github.com/near/NEPs/issues/254 https://github.com/near/NEPs/issues/256 :tada:
It's better to read [NFT events standard](https://nomicon.io/Standards/NonFungibleToken/Event.html) at first, since we want to do the pretty same thing for FTs.
Current FT doc: https://nomicon.io/Standards/FungibleToken/README.html

Some initial thoughts:
- The work here sh

[2021-10-30 20:28] ilblackdragon opened #272 "Expose storage byte cost to the runtime"
Contracts should know what is the current storage cost.
Currently all contracts have a hard coded value of the current storage cost, which if protocol will reduce it - means that contract continues to charge extra for storage.

Currently SDK has a function `storage_byte_cost` and a TODO to use a host function which is absent: https://github.com/near/near-sdk-rs/blob/d69e9054e602f808c4504e2007c25f4

[2021-11-03 15:21] janewang commented on #267
Based on updated Q4 OKRs, this issue is removed from NodeX Q4 board
cc @posvyatokum  @bowenwang1996

[2021-11-23 14:43] ilblackdragon commented on #85
Currently address for burning is not very clear: https://explorer.near.org/accounts/0000000000000000000000000000000000000000000000000000000000000000

It's not clear if it's a valid address and there are a bunch of fake addresses with less 0s

Few considerations:
 - adding some UI on explorer
 - creating a custom TLA like "burn" / "blackhole" / etc for this purpose.

[2021-11-24 03:57] fulldecent opened #279 "NEP-171 vulnerability to transaction reordering"
*👋 Hello, I'm new here and I might be wildly off because I don't understand something about Near.*

I see that NEP-171 includes a transfer function `nft_transfer` which may be called by a plurality of potential authorized addresses, and where the current token owner is not specified.

In ERC-721 we studied this exact situation and found multiple attack scenarios where failing to include a (seeming

[2021-11-27 05:27] fulldecent commented on #279
If this disclosure is eligible for any buy bounty/tip/contributor award, please send to:

Ethereum:0xd859d7d8603D2dAb768D679eEEC25930C8FC59C1

Near:fulldecent.near

Thank you!

[2021-11-27 05:30] fulldecent opened #286 "The Near website is not editable"
Please put the Near website on GitHub and add a "edit this page" button to the bottom of each page.

There was something seriously wrong on your homepage. But I already forgot what it was in the time I was trying to tell you about it. In that same amount of time I could have just fixed it.

[2021-11-27 15:21] evgenykuzyakov commented on #279
`nft_transfer` contains the optional `approval_id` that should be used by the smart contracts to operate on the non-owned NFTs. It allows the contract to transfer the NFT only from the current owner. All approvals are getting reset once the token is transferred, so it can't be retransferred.

The standard is explained here: https://nomicon.io/Standards/NonFungibleToken/README.html

More on the app

[2021-11-27 22:59] fulldecent commented on #279
Thank you for sharing the relevant documentation.

The resetting of approvals does NOT resolve this issue. We can assume that every transfer is followed by an approval to some popular marketplace.

---

I would like to write this up as a PoC and proper paper and normally I do, these go to https://privacylog.blogspot.com with responsible disclosure, as appropriate. Only because of the upcoming DCen

[2021-11-28 02:01] mattlockyer commented on #279
Who is performing the subsequent approval?

Only the token owner is allowed to add approvals, which increments a nonce per contract_id approved.

[2021-11-28 04:37] fulldecent opened #292 "NEP-171 Vulnerable to Denial of Service"
# Problem

These two specifications are incompatible:

and:

# Why is this a problem

Because `nft_transfer` performs `nft_revoke_all` in addition to other activity, it is possible that `nft_revoke_all` could succeed and `nft_transfer` could fail.

# Impact

A token owner could get into a situation where they are not able to transfer a token. The workaround is that they would need to perform `nft_

[2021-11-28 04:37] fulldecent commented on #279
@mattlockyer Thank you for clarifying. I better understand now. And this means that the current token owner ***IS*** specified during every call to `nft_transfer`, either:

1. By being the caller for the transfer function without approval; or
2. By being the owner uniquely associated with a call to the transfer function with approval.

I apologize for my misunderstanding here, and the confusion an

[2021-11-28 04:37] #279 closed

[2021-11-29 21:02] fulldecent commented on #286
yes, please

[2021-12-01 14:47] jakestutzman commented on #286
@fulldecent the near.org website is not officially open source for the community to edit at random. If you have feedback on the site, I would love to hear more. Please send any feedback here: https://forms.gle/7p2XfoznRhrJn9FU7 Thanks for caring!

[2021-12-01 23:16] fulldecent commented on #286
Yes, editorial control of NEAR should be the responsibility of appointed NEAR people.

However, NEAR is open to feedback. And an EDIT button on GitHub may be much more effective rather than, on in addition to, that kind of link.

---

Alternative point:

If the website is designed in a way that near.org source contains something private then the website is designed wrong. Therefore I am assuming e

[2021-12-02 23:59] mikedotexe commented on #292
I think there's another misunderstanding. In the implementation this is specifically called out, unless there's something far deeper I'm unaware of.

When a user calls `nft_transfer` they will hit:

https://github.com/near/near-sdk-rs/blob/80e8b6fe7c7ebcf700d71491f3c0ef7c7849b859/near-contract-standards/src/non_fungible_token/core/core_impl.rs#L366

then calls that function where it calls it out:

[2021-12-15 15:11] telezhnaya opened #297 "We need separate Events standard [NEP]"
We have [NEP-141](https://github.com/near/NEPs/issues/141) FT, [NEP-171](https://github.com/near/NEPs/discussions/171) NFT, [NEP-245](https://github.com/near/NEPs/pull/245) MT.
All of them use or will use the same events logic. Let me try to collect this logic into one meta-standard, so that we can reuse it in all these and other NEPs.

[2021-12-20 16:27] BenKurrek opened #301 "NFT Core Standard Approved Account IDs Type [NEP]"
It was brought to my attention that the [core standard implementation](https://github.com/near/near-sdk-rs/blob/ddc5b142130e69dd9aa2cd264ba316282273af35/near-contract-standards/src/non_fungible_token/core/core_impl.rs#L451) has a parameter `approved_account_ids` which is of type `Option<HashMap<AccountId, u64>>`. In the [core standards](https://nomicon.io/Standards/NonFungibleToken/Core.html), how

[2021-12-23 08:52] frol commented on #271
cc all subscribers to this issue, please review https://github.com/near/NEPs/pull/300

[2021-12-23 16:38] #301 closed

[2021-12-29 16:25] fulldecent commented on #292
@mikedotexe Thank you for the references.

I agree that the `nft_transfer` function does clear approvals. This is coded as expected. ✅

I agree that `nft_transfer` will fail if there is not enough gas to clear approvals. This is coded as expected. ✅

It is possible that the amount of gas required to successfully call `nft_transfer` will exceed the single-block gas limit. This is bad. 💣

[2022-01-10 12:20] #297 closed

[2022-01-11 13:31] Lev-Stambler commented on #227
Where are we standing on this? I think its a great idea.

[2022-01-11 13:33] Lev-Stambler commented on #246
Wait I need this and would love for this to come along!

[2022-01-11 19:38] janewang commented on #205
Here are suggested configurable epochs from validators:
- 8 epochs for CODE_GREEN and CODE_YELLOW
- 2 epochs for CODE_RED

[2022-01-18 05:26] sb- commented on #227
@Lev-Stambler https://github.com/near/NEPs/pull/245

[2022-01-26 19:22] vans163 commented on #85
Is there any clarity on this? https://ethereum.stackexchange.com/questions/16188/best-way-to-burn-ethers-and-other-ethereum-tokens/29695

[2022-01-27 12:55] telezhnaya opened #310 "Nomicon does not get the latest update"
I've added the point in contents #309, but it does not appear in the right bar on Nomicon.

Also, the contents exists, but we have 404 here
https://nomicon.io/Standards/EventsFormat.html
https://github.com/near/NEPs/blob/master/specs/Standards/EventsFormat.md

[2022-01-27 17:08] bucanero commented on #310
hello @telezhnaya,

We have recently migrated Nomicon to Docusaurus. The URL paths should be similar, but Docusaurus doesn't use the `.html` extension. So in this case, the new URL is:
- `https://nomicon.io/Standards/EventsFormat.html` -> https://nomicon.io/Standards/EventsFormat

If needed, I can try to add redirects so all the `*.html` links go to the new URLs. Let me know 😄

[2022-01-27 17:24] bucanero commented on #310
Update: I have added some server-side redirect instructions. Now, `EventsFormat.html` should redirect to `EventsFormat`, but please let me know if you find any other issues. 👍

[2022-01-27 22:15] telezhnaya commented on #310
Works fine now
Thank you!

[2022-01-27 22:15] #310 closed

[2022-01-28 17:46] ilblackdragon opened #312 "Introduce secp256r1 for transaction signing"
NEAR can easily support more curves for signing transactions.

Adding secp256r1 would allow to support web signing and mobile signing from secure enclaves.

There are considerations against secp256r1 around potential backdoors, but given this is an option that users opt-in and can switch away from, I would see this as a powerful extension that would allow to improve security of the mobile and web

[2022-01-28 18:34] abacabadabacaba commented on #312
I am against adding more curves. Our code base is already complex enough.
Web signing is already possible using Ed25519, and the security benefits of signing using secure enclave are limited. If the user's device is compromised, an attacker can sign a transaction that adds their key to the user's account (and neither Web Crypto API nor enclaves are going to prevent that), and similarly the user ca

[2022-01-29 01:37] bowenwang1996 opened #313 "Document account id to shard mapping"
After the simple nightshade implementation, account id no longer maps to shards randomly based on its hash. Rather it is based on the string lexicographical order with predefined boundaries. We should update the protocol spec with this change.

[2022-01-31 11:24] #271 closed

[2022-02-01 01:43] bowenwang1996 commented on #85
As mentioned previously, if we want to have this feature, the only reliable way is to implement a host function on the protocol level.

[2022-02-01 13:34] vans163 commented on #85
Any current workarounds? I see its should be theoretically possible to call
[code]
that should lower the total_supply on the contract too.

[2022-02-01 14:54] stefanopepe commented on #312
There were stories about Secp256r1 being "cooked" by government organizations to add backdoors, posing a risk if they leak. With the option to re-key a NEAR account, in my opinion this specific issue can be mitigated.
Looking at Bitcoin history, Secp256k1 went under a lot of scrutinies and even received an "unsafe" tag by [this old website](http://safecurves.cr.yp.to/), nevertheless, I can't see t

[2022-02-03 00:50] bowenwang1996 commented on #85
Oh you are referring to fungible tokens. That is indeed different and it could be handled on the smart contract level entirely. I suppose we just need a standard for this. cc @frol @jberrytech

[2022-02-03 15:13] vans163 commented on #85
Yea you can see this comment, https://github.com/lightsea90/near-ft/pull/2 how they implement it is calling `this.internal_withdrawal` to what I think is contract itself (maybe they use invalid address), but I think the final solution should take into account the total_supply is properly decremented and as well perhaps a total_burned counter is available.

[2022-02-09 03:15] myklemykle opened #316 "nep-177 version confusion"
in metadata.md, the version of nep-177 is currently set to "2.0.0", but it requres the contract "spec" field be set to "nft-1.0.0", on the grounds that this expresses the current version of nep-177.  is this a typo, or just cryptic?

[2022-02-10 14:28] lightsea90 commented on #85
Really interested in this as we are introducing a token burn feature to users. _My_ design in https://github.com/lightsea90/near-ft/pull/2 is that the token creator should be the only one is allowed to burn i.e control the token supply. Just feel free to chime in if you guys think of any.

[2022-02-14 14:18] andrew-sol opened #318 "Website scrolling issue"
TL;DR
facebook/docusaurus#6587

Your docs website is the second one I have this issue with.

Please, downgrade @docusaurus/core package to version "2.0.0-beta.14" or apply some fix from the link above.

https://user-images.githubusercontent.com/97506048/154672187-2ce7e895-cc04-405c-9219-a9ca824bf112.mp4

[2022-02-15 16:59] willemneal opened #319 "How to treat 64 bit numbers in JS"
This is a tracking issue to discuss how to represent `u64` and `i64` types in Javascript.

Currently APIs defined in the standard use the rust `u64` type.  In practice, however, JS that calls a contract method encodes the number as a JS `number` type which as a max value of `2^53 - 1`, which can't represent the full range of `u64`.  JS does however now have the `bigint` type which can represent in

[2022-02-16 13:54] frol commented on #85
@vans163 @lightsea90 I suggest you create a separate [discussion](https://github.com/near/NEPs/discussions) for FT burning. I still do not understand what you actually miss at the current stage since there is a way to mint and burn tokens just fine and with the recent [FT Events standard](https://nomicon.io/Standards/FungibleToken/Event), it is completely transparent (see also [FT example with FT

[2022-02-16 15:32] vans163 commented on #85
![image](https://user-images.githubusercontent.com/3028982/154298519-b226dc71-4b40-4011-b00c-479b1b483ed2.png)
Missing exactly this part, what is the NEAR Standard for burning (for maximum compatilbity with ecosystem), we don't want to be in a mintbase scenario where we implement our own way to do it, then NEAR Wallet cant track it.

[2022-02-16 16:35] frol commented on #85
@vans163 In order for Wallet to track things, implement FT Events and that will be picked up (it is not implemented yet on the Wallet side, but eventually it will be)

[2022-02-16 17:36] vans163 commented on #85
Okay nice. So I guess https://github.com/near/near-sdk-rs/search?q=ft_burn for the contract standards there wont be a ft_burn function? Just as long as you implement a proper FT Event for burning you can use any name for the burning function as you want?

Because right now for example if you dont call exactly ft_transfer your token wont be visible in NEAR wallet. Any ETA for the F Event support fr

[2022-02-17 18:46] myklemykle commented on #316
OK.  I would post a PR, except I'm not really sure how the official version releases are managed.  I assume NEP-177 version 2.0.0 is considered published, since it's on nomicon.io.  Should I bump the version to 2.0.1 in the PR?

[2022-02-17 19:07] willemneal commented on #316
Oh did you mean here: https://github.com/near/NEPs/blob/9d380d7aa1f6995ab46c75eafcb6702a873f7e0b/specs/Standards/NonFungibleToken/Metadata.md?plain=1#L30

I thought you meant in the sample nft?

The version only pertains to the API. The standard just says that the string should be shaped `"nft-x.x.x"`.  You can definitely make a PR to update the examples on the page to use `"nft-2.0.0"`.

[2022-02-18 19:24] myklemykle commented on #316
PR posted.  Thx!

[2022-02-18 21:11] myklemykle opened #321 "`base_uri` and `*_hash` requirements in metadata"
Hi.  I'm coming at these standards as an implementer who (mostly) wasn't involved in the evolution of the spec, and I'm hitting a few bits of confusion about which fields are and aren't required.

* The `base_uri` field of ContractMetadata is unambiguously described as "Required", and I would interpret that as "all contracts must define this".  But in the Rust crate (near_contract_standards::non_f

[2022-02-25 18:09] willemneal commented on #321
Welcome!

- You are correct a `base_uri` is only required if tokens will use the `reference` and/or `media` fields, since they become suffixes.
- This requirement is also often ignored by implementations.  If, for example, the `base_uri` is a IPFS gateway, the root hash will be included and so finding the hash of the `reference` or the `media` can be found and verified off chain.

Feel free to ope

[2022-02-26 16:38] austinabell opened #326 "Document semver guarantees for standards"
Currently, the semver is very loosely defined for these standards, and it seems to me to be very inconsistent and chaotic across specs.

I haven't thought through what the guarantees should be, but to propose something, maybe it is something like:
`major.minor.patch`
where
- `major` - state breaking functionality, there will need to be migrations from upgrading. Also, possibly the format of data c

[2022-02-26 17:09] austinabell opened #327 "Define JSON format constraints for interfaces"
Currently, with the Rust SDK (and standards implementation by extension), we allow deserializing parameters as a map with named keys OR as an array of ordered values through serde/serde-json.

For example, take the nft spec interface:
[code]

The parameters for calling this function will either be:
[code]

OR

[code]

The ambiguity of **deserialization** isn't an issue since the parameters aren't

[2022-03-02 02:53] mjvbz commented on #318
Looks the same as https://github.com/facebook/docusaurus/issues/6620 . breaking pr is being temporarily reverted for next release in https://github.com/facebook/docusaurus/pull/6748 , draft/discussion regarding fixes are in https://github.com/facebook/docusaurus/pull/6666

The same issue can be finded in the - https://github.com/facebook/docusaurus/issues/6754

[2022-03-02 14:34] zavodil opened #332 "Introduce hash of account storage"
We have a `code_hash` which is extremely useful to recognise current application code for the given account.
Could you introduce a similar hash to determine account storage (data)?

Right now we have a continuous bug when 2FA is trying to [overwrite](https://github.com/near/near-wallet/issues/2261) account state and makes account invalid. We can't recognise if account has existing state using [`co

[2022-03-03 17:59] myklemykle commented on #321
Thanks, but now I'm confused.  The standard doesn't seem to say that `base_uri` is a link to any specific resource or hash.  I observe some implementers (mintbase I think) not including any root hash in `base_uri`, just setting it to `https://ipfs.io` or `https://arweave.net`, as if to say "this is the type of off-chain storage used by everything in this contract".

Is there any more detail availa

[2022-03-03 19:33] willemneal commented on #321
`base_uri` is a prefix of the link used to fetch information about a token.  Is the case of mintbase each token's `media` field contains the specific IPFS hash of the data, e.g. `/ifps/Qmas138...`.  So then combine this with the `base_uri` and you get the full URL to fetch the data.  This is exactly what the wallet and others do for both the image and it's metadata.

For a project like https://git

[2022-03-04 18:51] bowenwang1996 commented on #332
This would be much easier to do if we have account state in its own trie.

[2022-03-07 11:34] andrew-sol commented on #318
Seems like no one cares here. Had to disable experimental chrome features to get over this.

[2022-03-07 12:43] mfornet commented on #318
For the record, it works ok for me using Brave 1.36

[2022-03-07 15:11] #205 closed

[2022-03-08 11:28] andrew-sol commented on #318
@mfornet that's because the bug affects only users with "Experimental Web Platform features" enabled. If you turn it on in Brave (brave://flags/), you'll get the same result.

So maybe it's not a big deal since most users don't have it enabled.

[2022-03-21 19:34] jlogelin opened #340 "Great reviews here - it looks like it's conceptually ready for `Draft`. @BenKurrek could you please reformat this spec under `neps/nep-0330.md`directory following the new structure and [template](https://github.com/near/NEPs/blob/master/nep-0000-template.md) described [here](https://github.com/near/NEPs/blob/master/neps/nep-0001.md). You can leave the explanation in Docusaurus, preferably describing the spec at a high level and perhaps usage, and linking to the spec itself."
Great reviews here - it looks like it's conceptually ready for `Draft`. @BenKurrek could you please reformat this spec under `neps/nep-0330.md`directory following the new structure and [template](https://github.com/near/NEPs/blob/master/nep-0000-template.md) described [here](https://github.com/near/NEPs/blob/master/neps/nep-0001.md). You can leave the explanation in Docusaurus, preferably describi

[2022-03-21 19:34] #340 closed

[2022-06-24 09:34] telezhnaya opened #367 "Consider simplifying MT Metadata structure"
I haven't found any details here https://github.com/near/NEPs/pull/245

We have 5 different functions for MT metadata 🤯 https://github.com/near/NEPs/blob/master/specs/Standards/Tokens/MultiToken/Metadata.md

As the smart contract developer, I'd expect 2 structures: contract-wide and token-wide.
As the web developer, trying to show the tokens to the users, I feel absolutely lost. Do I need to call

[2022-07-05 19:10] John31337 opened #369 "What is the address of event streaming for testnet?"
wss://events.near.stream/ws
Above is address for event streaming for mainnet, and what is the address for testnet?
Thx

[2022-08-03 18:46] jorgeantonio21 commented on #246
Hey guys, could you provide updates on the status of the Multi Token Standard? This is a very much useful feature to have for the Near dev toolkit ! Thanks ! :)

[2022-08-07 14:35] #369 closed

[2022-09-05 03:58] frol commented on #53
@ilblackdragon Do you believe this can be closed given #71 is implemented? If not, can you provide more details, requirements, or examples of existing solutions, please?

[2022-09-24 20:56] zlog-in opened #397 "Empty page on Transaction"
Hello, it seems the page for the Datastructure on Transaction never updated, where I can find this spec for Transaction?

[2022-09-26 14:23] frol commented on #136
@robert-zaremba Do you believe we can close this issue as resolved given that we have NEP-141 and a few extensions already approved?

[2022-09-26 23:40] frol commented on #397
cc @bowenwang1996

[2022-09-28 16:21] #136 closed

[2022-09-29 15:01] colerob1776 commented on #297
Is it possible to force users to use the standard by encapsulating this structure into the `log!` macro in the near-sdks? So to log events, the macro could be `event!(standard: &str, version: &str, event: &str, data: &str)`.

It seems like this standard gets overlooked (I didnt know about it when I started on NEAR in earlier this year) since it cant be enforced, but there are some major benefits a

[2022-09-29 16:27] frol commented on #297
@austinabell What do you think about this addition to near-sdk-rs? Should we invite people to create an issue on near-sdk-rs and submit PRs as part of Hacktober Fest? 😄

[2022-10-01 10:59] austinabell commented on #297
I don't have an opinion. If the events format is standardized enough, that could come into the SDK. Is there an NEP or format in a spec somewhere that someone could use?

cc @itegulov @ChaoticTempest

[2022-10-04 11:53] frol commented on #297
@austinabell Yes, it is actually a small and self-sufficient NEP: https://nomicon.io/Standards/EventsFormat

[2022-10-04 11:54] frol commented on #297
@colerob1776 Would you like to champion the implementation for near-sdk-rs?

[2022-10-05 12:52] frol commented on #130
[NEP-297](https://nomicon.io/Standards/EventsFormat) implemented log events quite some time ago, so I am closing this discussion

[2022-10-05 12:52] #130 closed

[2022-10-06 02:30] nearbuild commented on #286
agreed

[2022-10-06 15:41] coleFD commented on #297
Yep, I can work on it. I have run across some discussions that the future goal is to include support for other serialization formats. Is it safe to only assume JSON for now?

[2022-10-06 16:52] frol commented on #297
@coleFD Yes, it is safe to assume only JSON support, just leave room for future extensions.

[2022-10-06 18:54] coleFD commented on #297
The screenshot is the route that I am going with this. Does this look reasonable to follow through with? My only thought is:
1. Since most of the logs that use this will not be formally standardized but will be used across dapps in similar sectors (eg. swap events), I think the key is having fields that identify similar events without having to infer grouping based on the `data` field, which is re

[2022-10-06 20:02] coleFD commented on #297
or it may be cleaner to privatize the logging functionality from the environment functions and just expose the Event struct with an `emit()` implementation. If we wanted to remove the serialization format parameter, we could have different Event types for each format `EventJson`, `EventBorsch`, etc.

[2022-10-07 13:09] coleFD commented on #297
We can move this conversation here: https://github.com/near/near-sdk-rs/pull/934

[2022-10-07 19:13] frol commented on #297
I see it important to have the `standard` be required and encouraged developers to come up with their own names there (e.g. Fayyr and a couple of other projects already adopted this strategy: https://stackoverflow.com/a/72186527/1178806)

[2022-10-08 20:49] GildedHonour opened #403 "Events or there alternative? Getting notified when coins have arrived to a contract"
I have a smart contract with a `payable` method. I want to somehow get notified when coins has gotten sent to it. How to do it given that there're no Events in NEAR?

I've found this - https://nomicon.io/Standards/EventsFormat

But is this specific to NFTs only?

If not, how would I then make use of those `log!(....)`s? Where would I, in a smart contract, see them?

If it is, would I instead have

[2022-10-08 22:06] frol commented on #403
See https://github.com/near/near-sdk-rs/pull/934

[2022-10-08 22:06] #403 closed

[2022-10-09 14:38] GildedHonour commented on #403
A PR what's WIP and closed. Not even merged. How's that supposed to help me Frol @frol ?

[2022-10-09 15:11] frol commented on #403
What do you mean by that? Do you want to have a telegram message / webhook / function call on the chain? Who do you want to pay for it?

No, it is not specific to NFT, it is also used in FT and MT standards and you are free to use them as well. Just follow the standard.

Which one is closed? It is a pretty recent PR that addresses exactly your question:

And then regarding:

Do you control the con

[2022-10-09 16:47] GildedHonour commented on #403
You had given the advice first, and now you're asking what I really meant. Backwards.

"**I have** a smart contract".

What if I need "write code that does something" which is to update a table in  database on my VPS server? This would work very well from a smart contract.

Yes, it's a view function - "get balance by user_id".
That's good. Where is this described?

[2022-10-09 21:04] frol commented on #403
Sorry, I was of a better opinion of you as I saw you found Events Standard. That is why I suggested you some follow up links.

If you want to continue conversation, mind your tone, the community is not your slaves.

[2022-10-09 21:16] frol commented on #403
You can have whatever contract which does not necessarily FT contract which is why I asked: “Do you control the contract that emits the logs?”

Smart contracts operate in the excitement that has to be reproducible no matter when and where you call them (even 100 years from now from another planet), which is why smart contracts cannot access external resources like external database. Thus, you need

[2022-10-10 00:38] GildedHonour commented on #403
Nooooo man....
You should always think of me as worst as you can. And even then, divide that by 3.

Better luck next time.

[2022-10-10 19:11] zlog-in opened #405 "The Type of receipt_id"
Hello,

It seems that the type of `receipt_id` denoted as `AccoutID` [here](https://github.com/near/NEPs/blob/master/specs/RuntimeSpec/Receipts.md#receipt_id) is wrong, the results showed in [Near explorer](https://explorer.testnet.near.org/transactions/9WkD1GFGmWntX8ZN6WLHXFM81FUWMRgMm8zfy8dTRpXP) is like a crypto hash value.

[code]

Is `CryptoHash` the right one?

[2022-10-11 11:43] frol commented on #405
Yes, it should be CryptoHash. Fixed in #409

[2022-10-11 11:48] #405 closed

[2022-10-11 22:09] alexastrum commented on #246
Hi, @zcstarr, @riqi, @jriemann, @marcos.sun
Is anyone fro this list still interested in co-authoring?

I want to take over authorship and push to finalize this spec and its standard implementation.

[2022-10-11 22:14] alexastrum commented on #246
Hi @mikedotexe, @volovyks,
This PR shows Mike as the designated Reviewer for this NEP. Are you guys ok to review and push this into the Final Call, or is there someone else you'd assign to do this instead?

There are a few bugs we found in this NEP that I found when reviewing it with my friend @uncle-T0ny. We'd like to fix them and propose an implementation to be included in NEAR standards.

[2022-10-12 17:02] zcstarr commented on #246
@

@alexastrum and @uncle-T0ny,  would be great if you would post what you found as issues to the PR for the spec. or drop it here to open the convo up.  I'd be curious to know what you hit. and would probably be in line with the new review process @frol ?

The original PR by @jriemann was done, but was unable to be merged in due to lack of time for anyone to actually review it.

[2022-10-12 19:05] uncle-T0ny commented on #246
The list of the issues that I found:
1. There is an approval invalidation issue: after transfer with approve, granted approve not become invalid, and grantee can make the transfers with the same approval again. Also, it's with the current reference implementation
it's not possible to make a transfer on an amount, less than the approved.
2. by spec, we have a method
[code]
and in the current implem

[2022-10-13 04:41] ilblackdragon opened #415 "[Discussion] Removing storage staking for base account information"
TLDR:
  - Allow to create accounts with 0 $NEAR balance.
  - This would unblock Meta Tx NEP and wallets to create named accounts without exploitation

## Problem

Currently there is a blocker with #366 which spans from the problem that to initialize account that doesn't exist yet on the blockchain, one needs to deposit $NEAR into it prior to other actions happening.

Similar problem exist broadly

[2022-10-13 07:55] garikbesson commented on #415
I like the idea. Sounds reasonable

[2022-10-13 08:34] Plufix commented on #415
The idea is very good, it will also make it easier for users of various projects to create wallets. Perhaps it is worth doing so :
When creating you can already actively receive any tokens and coins, but the first time you send it will already need to make a commission, which will make life even more easy for different projects.

[2022-10-13 09:26] soul-wish commented on #415
I really like this proposal. It can open the doors for NEAR adoption. Right now it is really hard to create user accounts for various projects in NEAR, because someone needs to pay for the storage, even if there is no need to call any additional transactions for such accounts at this time.
I hope that this change will not lead to some spam behaviour, when some people just try to get some "cool" na

[2022-10-13 09:52] mfornet commented on #415
Delete Account will be relevant for factory contracts. For example in the case of `near` contract, if `temporal.near` is deleted, it can be re-claimed later by another party.

Presumably, wallets will need to add a FullAccessKey during account creation. So they will need to pay $NEAR to cover the storage used by the key. In this case there will be similar friction and pervasive incentives as befor

[2022-10-13 11:10] frol commented on #415
Given the massive impact, I want to invite the relevant working groups to this discussion. cc @near/wg-protocol @near/wg-wallet-standards

[2022-10-13 11:30] frol commented on #246
@alexastrum I think you can go ahead and prepare a PR, and this way we will continue the evolution of the standard. The best way to collaborate is to provide context and suggest solutions.

@near/wg-contract-standards will do the final review, but before we get there, the hope is to see a healthy discussion driven by the stakeholders of this standard.

[2022-10-13 12:09] flmel commented on #415
Also there is no reliable way to delete the contract out of an account apart of deleting and recreating the account itself

[2022-10-13 12:33] zavodil commented on #415
Having account with no funds makes total sense for meta transactions.

I like the idea of replacing the initial storage with gas, as the attackers will not be able to restore burned gas after deleting the account. But it doesn't cover all use cases as @mfornet highlighted.
If Near native application onboards a new web2 user, app should deposit some NEAR to user account to maintain keys and cover g

[2022-10-13 12:52] ilblackdragon commented on #415
I think meta transaction is better approach here. Application or relayers like Aurora Labs can submit and pay tx fees on user's behalf.

The loan for storage is also doesn't cover the cases where storage needs to be covered inside the applications or FT tokens. Which is why also suggestion to stretch to remove need in storage deposits overall.

[2022-10-13 13:59] balaianu commented on #415
good point

[2022-10-13 16:01] jefedeoro commented on #415
Could the seeding deposit be set up as a loan, that is auto repayed automatically from the initial deposit is made.
If the contract is deleted prior to repayment the seed funds returns to the predecessor_account_id?

to minimize bots claiming all the names possibly adding a pow-faucet.

[2022-10-13 17:22] bowenwang1996 commented on #415
This is a much better written proposal than what I did in https://github.com/near/NEPs/discussions/402 :)

It seems that we can limit it to a smaller number (such as 5) so that when a user needs to login from another device, they don't need to acquire NEAR tokens to pay for storage staking

[2022-10-13 17:42] k3y0k3y commented on #415
**From a user onboarding perspective:**
*App / Relayer makes an account for the User ------ frictionless onboarding
*App / Relayer can send the account FTs / NFTs paying the fees ----- enables crypto gated experiences
*App / Relayer can allow for user to create a named account paying the fees ------ enables social experiences
**Open questions:**
*App / Relayers are now the attack vector - there sh

[2022-10-13 18:07] evgenykuzyakov commented on #415
Faucet draining attacks are not prevented by this. But this change removes the incentive to drain faucets, because the attacker doesn't get the funds.

Maybe we can introduce a different change. **Non-staked storage that is based on total burnt gas amount.**

We introduce a new runtime method that allows a contract to burn prepaid gas for storage bytes. These storage bytes will forever be availabl

[2022-10-13 18:25] 0xbosnic commented on #415
Tonic v1 actually does have [granular storage tracking](https://github.com/tonic-foundation/tonic-core/blob/master/tonic-dex/src/storage.rs) but regret implementing it this way. Practically every DeFi contract will have NEAR deposits that are more than enough to cover storage costs.

In our case, implementing a one time fee upon account creation along with application level limits is the better so

[2022-10-13 18:32] mattlockyer commented on #415
Second this, because applications will want to get creative with how they create accounts and how much base storage they have. For example, creating an account with several access keys or creating an account with a deployed contract that's pre-paid.

If we use an arbitrary base storage amount, we limit future use cases.

[2022-10-13 18:33] evgenykuzyakov commented on #415
Unless you work with `wrap.near`

[2022-10-14 08:52] mohamedalichelbi commented on #415
In addition to use cases mentioned by others, it's also a convenient way to wipe out old state before a contract upgrade.

Doesn't this break the use case of developers distributing AccessKeys to users so users interact with NEAR without having an account?

[2022-10-14 20:40] petersalomonsen commented on #415
OK, so my current way of paying tx-fees for users is to create an implicit account, fund it with 0.25N for allowance, and create a function access key to my contract, and then I give away that function access key to the user (not the full access key to the implicit account). See https://twitter.com/salomonsen_p/status/1581020993539436545?s=20&t=NAYIBkj5osu0ZXGDQgXDQg and the reply for an example

[2022-10-14 20:55] vgrichina commented on #415
I think this proposal would work great if we also figure out a way to refer to WASM code by hash vs deploying it separately for every account.

In that case you would be able to create accounts for users that also have smart contract attached to them without extra storage staking. Enabling more use cases with user-owned [web4](http://web4.near.page/) pages like https://vlad.near.page.

[2022-10-14 20:56] vgrichina commented on #415
I think it's still good to have some motivation for developers to free up unused state. What would it be in the case that storage staking is completely removed?

[2022-10-15 12:07] AngelBlock commented on #415
This will significantly reduce the account creation cost 0.02 -> 0.00004 or **500x.** Consequences:

- implicit account: none
- named account: will allow to create named accounts 500 times cheaper and opens the opportunity to farm vanity addresses for future monetisation
- statistics, metrics: can create false metrics for ecosystem as creating 20M new near addresses will only cost NEAR 800

Soluti

[2022-10-18 12:16] ilblackdragon commented on #415
@vgrichina I agree in theory, but the issue we are observing is that even developers create such mechanisms - the users are the ones who at the end need to free the storage. I would like to collect more on-chain statistics but anecdotally I don't think it's happening outside of parties that create lots and lots of accounts on their users behalf. Partially this is due to lack of tooling for users (

[2022-10-18 20:02] htafolla commented on #415
I don't understand the technicalities fully, however improving the user onboarding experience by 10+x is necessary for growth.

-- Creating accounts with gas fees and 3-5 keys + captcha sounds good
-- Burning NEAR for dedicated storage has many benefits
  -- Storage "programs" that provide devs with "growing apps" storage grants following this model if possible

Will either introduce any scaling l

[2022-10-18 22:18] JeffBissinger commented on #415
This proposal would address a major issue we are seeing when it comes to creating new wallets right now - contract exploits for non-custodial wallets are making it challenging to build experiences for new users. I see the tradeoff when it comes to abuse but think the metric rollup should account for wallets that have a level of activity outside of just created.

**I would be curious to see the dat

[2022-10-25 12:34] robert-zaremba commented on #415
Using TX fees to cover storage deposits sounds the most natural solution and should be generalizable to all transactions. In other words, smart contract should be able to consume gas if storage is not provide, and use that gas to deposit for storage.

[2022-10-28 15:11] uncle-T0ny commented on #246
@frol, @zcstarr

This PR https://github.com/near/near-sdk-rs/pull/950 is based on https://github.com/near/near-sdk-rs/pull/776
with the updated codebase and the improvements.

The improvements list (by commits):
1) https://github.com/near/near-sdk-rs/pull/950/commits/6d79045ba304ed745fdcf102faf9f581309a502f

We used https://github.com/near/near-sdk-rs/pull/776 but in our forked near-sdk-rs because

[2022-11-04 20:31] jakmeier commented on #415
I just outlined an idea under the name [Gas Weight](https://gov.near.org/t/proposal-gas-weights-to-fight-instability-to-due-to-undercharging/30919) in the governance forum. I believe it is relevant because if gas weights were implemented, it would be easy to convert gas to "storage units" without affecting gas limits. (We don't want the 1000 Tgas per chunk or 300 Tgas per transaction limit to be a

[2022-11-07 18:50] nearmax commented on #98
@akhi3030 Is this implemented and can be closed?

[2022-11-08 02:48] akhi3030 commented on #98
@nearmax: in https://github.com/near/nearcore/pull/6824, we stabalised `alt_bn128_g1_multiexp`, `alt_bn128_g1_sum`, `alt_bn128_pairing_check`.
However, I do not see any NEPs or spec for these function in this repo.  Maybe a NEP is not strictly necessary as the bulk of the work was done before the NEP process was standardised.  However, we should probably add something to the spec.  Should we keep

[2022-11-08 16:43] frol commented on #297
FYI, Arbitrary JSON Events support in near-sdk-rs that was contributed by @coleFD and thoroughly reviewed by @austinabell was merged! https://github.com/near/near-sdk-rs/pull/934

@coleFD Thanks for the contribution!

[2022-11-08 16:47] frol commented on #98
@akhi3030 Yes, please, create a new issue and close this one. Could you take ownership of getting the spec updated? 🙏

[2022-11-10 02:14] akhi3030 commented on #98
Happy to do so!

[2022-11-10 02:17] akhi3030 opened #426 "Update spec to add support for alt_bn128_g1_multiexp, alt_bn128_g1_sum, and alt_bn128_pairing_check functions"
https://github.com/near/NEPs/issues/98 is the issue where the proposal was discussed.  We did not follow the NEP process for this work as the bulk of the work was done before the NEP process was stabilised.  In https://github.com/near/nearcore/pull/6824, we added support for the functions in `nearcore`.  This issue is to track the remaining work namely updating the spec.

[2022-11-10 02:18] akhi3030 commented on #98
The remaining work is now tracked in https://github.com/near/NEPs/issues/426.  Please prefer continuing discussions on that issue.

[2022-11-10 02:18] #98 closed

[2022-11-15 21:41] ryancwalsh commented on #312
Is there more discussion about this idea somewhere other than this ticket?

(Coming from https://www.pagoda.co/blog/protocol-roadmap-2023-4-the-next-2-years-of-near which linked to this ticket, I was surprised to see just a few comments. Based on the fact that the Roadmap highlights this feature, it seems like Pagoda ultimately resolved the disagreement above in favor of moving forward with secp25

[2022-11-16 12:22] blasrodri commented on #246
As part of our bridge using IBC, we definitely need this standard to be merged. @frol

[2022-11-17 21:56] eriktrautman commented on #415
A quick fix for stopping the bleeding from third parties attacking account creation endpoints so they can delete/harvest accounts for their storage could be to send back the account creation storage tokens to whoever originally paid it when the account is deleted.

[2022-11-21 13:53] #156 closed

[2022-11-24 09:09] telezhnaya opened #438 "Support individual NFT metadata logs / dynamic NFTs"
Inspired by https://github.com/near/NEPs/pull/423#discussion_r1030262933

The highlights from the thread:
[...] the proposal of individual NFT metadata updates opened a whole can of worms ("dynamic" NFTs etc) so it was decided to separate these into their own PRs [...].

See original discussion here: https://gov.near.org/t/extending-nep-171-events-standard-to-include-nft-update-events/30285/6

[..